<!DOCTYPE html>
<html lang="{{language}}" xmlns="http://www.w3.org/1999/xhtml" xmlns:o="urn:schemas-microsoft-com:office:office">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="x-apple-disable-message-reformatting">
  <title></title>
  <!--[if mso]>
  <style>
    table {border-collapse:collapse;border-spacing:0;border:none;margin:0;}
    div, td {padding:0;}
    div {margin:0 !important;}
  </style>
  <noscript>
    <xml>
      <o:OfficeDocumentSettings>
        <o:PixelsPerInch>96</o:PixelsPerInch>
      </o:OfficeDocumentSettings>
    </xml>
  </noscript>
  <![endif]-->
  <style>
    table, td, div, h1, p {
      font-family:  BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
    }
    @media screen and (max-width: 530px) {
      .col-lge {
        max-width: 100% !important;
      }
    }
    @media screen and (min-width: 531px) {
      .col-sml {
        max-width: 27% !important;
        padding-right: 15px;
      }
      .col-lge {
        max-width: 73% !important;
        padding-top: 30px;
      }
    }
  </style>
</head>
<body style="margin:0;padding:0;word-spacing:normal;background-color:#f8f8f8;">
<div role="article" aria-roledescription="email" lang="{{language}}" style="text-size-adjust:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;background-color:#f8f8f8;">
  <table role="presentation" style="width:100%;border:none;border-spacing:0;">
    <tr>
      <td align="center" style="padding:0;">
        <!--[if mso]>
        <table role="presentation" align="center" style="width:600px;">
          <tr>
            <td>
        <![endif]-->
        <table role="presentation" style="width:94%;max-width:600px;border:none;border-spacing:0;text-align:left;font-family:BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Helvetica,Arial,sans-serif;font-size:16px;line-height:1.65;color:#333333;">
          <tr>
            <td style="padding:40px 30px 30px 30px;text-align:center;font-size:24px;font-weight:bold;background-color:#33b2e8;">
              <!--[if mso]>
              <table role="presentation" width="100%">
                <tr>
                  <td style="width:145px;" align="left" valign="top">
              <![endif]-->
              <div class="col-sml" style="display:inline-block;max-width:150px;vertical-align:top;text-align:center;font-family:BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Helvetica,Arial,sans-serif;font-size:14px;color:#ffffff;">
                <img src="data:image/png; base64, iVBORw0KGgoAAAANSUhEUgAAAGQAAABXCAYAAADyDOBXAAAACXBIWXMAAANIAAADSAECYP9sAAAK
eUlEQVR4nO1dXWhkZxl+VmuxIia4bVUEJ6uCCIKrgqhEEylWkZZORYxe1K5ur0Qk/ixYRMiFdt0b
jaKiktX0Snq1qYrFojiV1VYRMt4oSiKzimYvhJmVkr1ImiOfPi88vH7fmTMz50wmc+aBQ2a+c+bM
yft87/93zpzKsgwzTA6eN+NismCErALoANgEcA7AQt0Fc1xQkxXIeFCu4w8c2yJZM4wBSsg8gBaA
N7qvDcScnZExHqgP6QFoArjhvjkQtObG5qfhn59ExKKsQMqVyLWeEdMVzFgbwDqJnKEsBEIi22b2
/2jJcWe5t5dl2VqWZfOJ88y2AbfUB4KAOxFSzskx6zLecftm25BbXmK4DOCXbuwGQ+Ie/UgwYXOy
/yl+boYhkZcYhojr625sThx8jz5EscQ8ZoYh0a90Mk/n3XDj6uA7bv+1WWI5PPqVTnqJGb8pr31I
3HBmqznuf+oko2hxMYS597mxd9OsIaIl6ks2SexqrSVdFAWjgQWGuAoNg89FIrKz3LfM9+1ZeNx/
G+TgtYjQl2W/D5M3I/vaQtRsi2yDCCWWm+RpSU80YtWNz0gpgZCY0L2WeLO2yvGFCFm1F35sG7RB
tcnqr0KjLJ+XmCMPTv9xGZ+bRV9xDNMx9NHSkkRUnpCGlO633L4ZIREMQ0iLYa1Cs/dH3T4j0BMy
K7FEMGxP3SeDS5Kdey0xTeg5s6XaszDrsfwPwxKSpyVt52fUX6S0pMNz1p6UUVadeC1pikBTWpJn
tmLFytphFEJaLCQa5qTulXLgPadZSkjQrAfrXi0edV2W1xJz4N65p8zWnPieQAioJbWtFo9KyKZb
FJEX5po2tBLjVs6fc9XkWqGMlYupZHDLkWUa0nbjRqAStVRXB18GIX42a8KnWtIQU6TC1zVf1xLj
tUEZhOSVRVLOPUVI7VdIlrXYOqUlKT/SljF17LUn5JaSzmP+wlagqNl6XLqNKce+QDKUkLM87twY
nfxdAB7I2f89AL+p8gLKvB1BhTaXME+qDZrNx/yFOfWy8pJXAniYk+fPDBwU4Tp/zlzIb/dRq5WM
RQA7oekKoMvXrZFb1SXW8s+6nsdmYtwW1OnqyDWOLUfGMvZThrmmBpto+3Le8HpFjllx+xUH0tOx
LbzfSxyvCOd8eNBrLrvBoh3Fjoxr42qdY9oS3koQYmR6oRQlwwt6j+N2zJWEMI+yLNuIENEtQMQB
z7s4jgZVP/gwN5ZjxMZSOYeNFynVB5P0A/nuPwG4TfYHk/MKhtYNmplYT6bNdWcP8f0qj/1aznUG
s7UL4MMAXgDgfgBXZf8KF7DvAziieVuJn6lcDVl2s8Vmtu+pe1PWinx+Td73a/lucFZfTGiGzvYV
HuvhTVmY4TsFtGHDaZ1+zzaPSaHLa67MZHnzFDNFmSx+UMQIaTrCYmap647JI2MjIpgjmhg9Z6sP
Ed2EGV3kZ/NIiCEc/1BVhGzJF+rMVtjCCCXPE7IsfmY98j0NmeldjumMPnIzPjbb952tv5jQHsNO
wjdsFPQvHl0SGL733qoI8StTLEJqy5hFWjoTY4Ssu+N1s88eRWa1khEzYZnTusU+Ao0RYdqQR6DH
HrVxJSW/KgjxS35MmKo5FtL2I8T2+3Vci3LcRW5FyThwArmSI9QYEasFfIt+17b3E3lbFYTAhb+x
MNfGlCRPyDxNWsyhm0BMYCpQ8xkx590VB5ynFTEfMUjYu52nBcdBiCZ9ZhqakTElyRNimrblzm3a
cRTRgDwytuUcGwmtOIjM5iJEHHFyDJMvjYWQWJirwk4RolGVvfb+w7Rjw5k8O2eMDCOqkWNuWi58
LULEfk7YO1GE+DAXNEH9CLH3m+LQdcV8g2NdCt6wlyBD/UmqRNJ1fqKfg89I6lAm6bgIgfsHlt2Y
aU2KkFVGZd5cXZH9Jtx9EtVw8b+SEQtnY/nHdg4JRxEtOlGEaJjbjJCkBFjdy0zQPfzrzdUBZ68R
Y0L3vmRfBBerV/n8I+VTxkaEbVU+DUgfKGD1K7+4zmB9ECvN387+itbGVti/+Yb0V0Kv5TEAz0jd
6iaA17NmtROpV4Va1YtYa1pknep8uJvMHZfxes+wlnYNY0CVhPgmVBE0KISm3Apn+DyFvUTh9VjE
C9/zch7jyXiNE/BXALyJ70Ox71eRguGxEGEoq2MYQ0xDPLSDaK9/BuARCkTxOgA/AvAhCu1eVmKt
0RTGPsbX+67SG4i6W7Tix4nK7S4bYlcj+8aCKjVE++b9lvT0hLQDLrLTdm4Q4gtp0k5xZv8dwFe5
P5DxEZouX3a/Tq0JQr6Y0IpA2KcBvPY4ycAYNcTDfIkJps3ZHtq6n4z0P8Ks/SuAtwI45P6u2P1L
9CVeM3Yp5IDtiKZm9EP3l/Mvj45xaUgK9mwuM1lX+dqvPnkLgGdJQNCeDSFzi73yHUfGZZLRIFGe
jDBh3jVJZPwXFYdxBksEW/LeEsW2JJJPJm6d3mO423Vld0sIffadV0Lx+cdEbcf1EMyOzNg2o6pf
c1VHzNQ9R434DoBfUFOC6XobtUWjqctsvwZ/8UMXzt6kr5ksrRBUTYi/QdTQcb31Jp2vX00PRlOH
3Noi/AsU7Hk51sjYYJisZOzSuT9W3r9XPqp06ojMdgtRO+K4/0VhfzNxjpcxz3iUGgIS83tGTAYl
47w7x2VZtDDRqJqQFIyQoEEfBPC7nETyvQBuBfAPmq1DalRbNKCdIMPC4YnWCsU4CdGbcOxhNd/l
0s135HzuVQx5P8X3F6gtFmXtMvv2ZGjWfmIwLqfecUtIzVwFc/SJPjlLWEv1NAkIx+2J6bvJ9bhT
QQbGqCE+qlpmVLVQoOb1EgBv5+vg4J/k64zlkC86MjQZPHGoWkM0GdObdZp05kUWJofjXk1Bf1aS
v0tcrfhxOfZEk4ExEGK3J7SEnOCg/53IyD1W6cRPMYy1snubEZfmGSeeDIzRh/Ro96/Rgf+x4D0f
bwBwB4X9BUkImywiThUZqJiQ2K3NTwD4AHOOIk/EPg3gpQB+Khp2gfUrbUjdVeJ1HyvGQYhGVaFA
+G0APyl4jjPUiPfz/S7/GjknNppKocooS524dd7eM+BTgG5n7epuRlUfldK9NaSmhgyMSUP+IreE
Dfrw/juYq1hT6lsyiT5zkjLwoqiSENOEQ/k76M2bz9GxH9Jv6GKJqXxQTdUaYlFVSAK/NODnV9mm
vYWlkkc43pvmh59VRcg8a1VP8G7Wpwt2EBVLzGPsSc+3yeKGqUVVhNgMPuAtyF8e8jx30nfYb2Nd
Ou5FCFWjSkJusGf9uSF/hefNdObXabZ67J1PNar6Yck2Fx08O8KN/9f5+QYJeee0awcqykMWuJqk
S+0YFqdFO56qAxmoyGQFc/VbCnHYh8mEcsnzqR2Z+33FqUYVhDRZzY0tWCiKkJH/k9Ha96ctG89D
VSZr1N8KWeK1HZ6UxQlloWwNWWCYOszKd3+e0wMUIacGZRPSlMUIo+BW+pDa/SpP2YSMqhmGO1m2
r43vMEzqD9yH/ON9dQl1FZP4A/f3MMKqHRmYUEJe7FaS1ArHtZQ0D3+r+kGTk4xJ9SG1xSSarPoC
wH8AxWKvi0jAD1gAAAAASUVORK5CYII=" alt="Logo SCM-Manager" width="150px" style="width:150px;max-width:80%;" />
              </div>
              <!--[if mso]>
              </td>
              <td style="width:395px;padding-bottom:20px;" valign="top">
              <![endif]-->
              <div class="col-lge" style="display:inline-block;max-width:395px;vertical-align:top;font-family:BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Helvetica,Arial,sans-serif;font-size:16px;line-height:22px;color:#ffffff;">
                <p
                  style="margin: 0 auto !important;font-size: 32px;line-height: 1.25;text-transform: uppercase;">
                  SCM-Manager</p>
              </div>
              <!--[if mso]>
              </td>
              </tr>
              </table>
              <![endif]-->
            </td>
          </tr>
          <tr>
            <td style="padding:30px;background-color:#ffffff;">
              {{{ content }}}
            </td>
          </tr>
          <tr>
            <td style="padding:30px;text-align:center;font-size:12px;background-color:#fafafa;color:#4a4a4a;">
              <p
                style="margin: 0;padding: 0;font-size: 14px;line-height: 1.65;font-weight: normal;color: #4a4a4a;text-align: center;">
                Sent by <a href="{{ url }}" style="margin: 0;padding: 0;font-size: 100%;line-height: 1.65;color: #4a4a4a;text-decoration: none;font-weight: bold;word-break: break-word">{{ url }}</a>
              </p>
              <p style="margin: 0;padding: 0;font-size: 14px;font-weight: normal;color: #4a4a4a;text-align: center;">
                Provided by <a href="https://scm-manager.org" style="margin: 0;padding: 0;font-size: 100%;line-height: 1.65;color: #4a4a4a;text-decoration: none;font-weight: bold;">SCM-Manager</a>
              </p>
            </td>
          </tr>
        </table>
        <!--[if mso]>
        </td>
        </tr>
        </table>
        <![endif]-->
      </td>
    </tr>
  </table>
</div>
</body>
</html>
