# Repository Import fehlgeschlagen

Der Repository Import für {{namespace}}/{{name}} ist fehlgeschlagen. Bitte versuchen Sie es erneut oder kontaktieren Sie einen Administrator.

Das Importprotokoll finden Sie [hier]({{logLink}}).
